.attention {
    color: blue;
}

.alert {
    color: red;
}

#article_title {
    font-style: italic;
}

#quotation {
    font-style: italic;
}

.ds {
    color: blue;
}

.as {
    color: green;
}

.xz_profile {
    width: 45%;
}

.animation {
    width: 50%;
}

#table_alignement td {
    text-align: center;
    vertical-align: top;
}